{% extends 'base.html' %} <!-- passes contents into base.html, which has styling and functionality applied-->
<!-- Refrenced from: https://tutorial.djangogirls.org/en/template_extending/ -->
{% block content %} <!-- passes content to base.html --> 
  <h2>Login</h2>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
{% endblock %}

{% block title %}Login{% endblock %} <!-- title -->
