{% extends 'base.html' %}

{% block content %}
    <section class="content-section">
        <h2>Profile</h2>
        <p>
            Welcome to your profile page! This is where you can view and manage your profile information.
            <br><br>
            <a href="{% url 'edit_profile' %}">If you would like to make changes, click here to edit your profile</a>
        </p>
        <p>
            Full Name: {{ user.profile.full_name }}
            <br>
            Username: {{ user.username }}
            <br>
            Date of Birth: {{ user.profile.date_of_birth }}
            <br>
            City: {{ user.profile.city }}
            <br>
            Country: {{ user.profile.country }}
            <br>
            Address: {{ user.profile.address }}
            <br>
            Website: {{ user.profile.website }}
            <br>
            Bio: {{ user.profile.bio }}
            <br>
            <!-- Error handling if no profile photo is set to prevent page crashes -->
            {% if user.profile.photo %}
                Profile Pic: <br> <img src="{{ user.profile.photo.url }}" alt="{{ user.profile.full_name }}'s Profile Pic" width="100">
            {% else %}
                Profile Pic: No photo uploaded
            {% endif %}
        </p>
    </section>

    <section class="content-section">
        <h2>Your Reviews</h2>
        {% if user_reviews %}
            <ul>
                {% for review in user_reviews %}
                    <li>
                        <a href="{% url 'review_detail' product_id=review.product.id review_id=review.id %}">
                            {{ review.product.name }} - {{ review.description }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You haven't left any reviews yet.</p>
        {% endif %}
    </section>
{% endblock %}

{% block title %}Profile{% endblock %}
