{% extends 'base.html' %}

{% block content %}
    <section class="content-section">
        <h2>Profile</h2>
        <p>
            Welcome to your profile page! This is where you can view and manage your profile information.
            <br><br>
            <a href="{% url 'edit_profile' %}">If you would like to make changes, click here to edit your profile</a>
        </p>
        <p>
            Username: {{ user.profile.user }}
            <br>
            Date of Birth: {{ user.profile.date_of_birth }}
            <br>
            Location: {{ user.profile.location }}
            <br>
            Website: {{ user.profile.website }}
            <br>
            Bio: {{ user.profile.bio }}
            <br>
            <!-- Error handling if no profile photo is set to prevent page crashes -->
            {% if user.profile.photo %}
                Profile Pic: <br> <img src="{{ user.profile.photo.url }}" alt="{{ user.username }}'s Profile Pic" width="100">
            {% else %}
                Profile Pic: No photo uploaded
            {% endif %}
        </p>
    </section>

    <section class="content-section">
        <h2>Your Reviews</h2>
        {% if user_reviews %}
            <ul>
                {% for review in user_reviews %}
                    <li>
                        <a href="{% url 'review_detail' product_id=review.product.id review_id=review.id %}">
                            {{ review.product.name }} - {{ review.description }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You haven't left any reviews yet.</p>
        {% endif %}
    </section>
{% endblock %}

{% block title %}Profile{% endblock %}



<!-- Attributes for profile:
    user = models.OneToOneField(CustomUser, on_delete=models.CASCADE)
    bio = models.TextField(blank=True, null=True)
    location = models.CharField(max_length=100, blank=True, null=True)
    date_of_birth = models.DateField(blank=True, null=True)
    website = models.URLField(blank=True, null=True) -->
