<!-- this contains the 'in depth' of each review page. This will contain a unique ID for each product & review -->
{% extends 'base.html' %}

{% block content %}
    <h2>{{ review.product.name }} - Review</h2>
    
    {% if review.reviewer.profile.photo %}
        <img src="{{ review.reviewer.profile.photo.url }}" alt="{{ review.reviewer.username }}'s Profile Pic" width="50">
    {% endif %}
    <p><b>Rating: {{ review.rating }}/5</b></p>
    <p>{{ review.description }}</p>
    <p>Review by: <a href="{% url 'user_profile' user_profile_id=review.reviewer.profile.id %}">{{ review.reviewer.username }}</a></p>
    <p>Author: {{ review.author }}</p>
    <p>Date Posted: {{ review.date_posted }}</p>

    {% if user.is_authenticated and review.reviewer == user %}
        <a href="{% url 'edit_review' product_id=review.product.id review_id=review.id %}">Edit</a>
        <a href="{% url 'delete_review' product_id=review.product.id review_id=review.id %}">Delete</a>
    {% endif %}
{% endblock %}

{% block title %}Review Detail{% endblock %}
