<!-- https://docs.djangoproject.com/en/5.0/topics/http/urls/ -->
<nav class="navbar">
    <div class="nav-links">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
            <li><a href="{% url 'products' %}">Products</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">My Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
